APP_ENV=local
VITE_API_BASE_URL=https://api.fitjob.co.kr
DB_HOST=YOUR_DB_HOST
DB_PORT=3306
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE=YOUR_DB_DATABASE
JWT_SECRET=YOUR_JWT_SECRET
BASIC_AUTH_USER=YOUR_BASIC_AUTH_USER
BASIC_AUTH_PASSWORD=YOUR_BASIC_AUTH_PASSWORD
SENTRY_DSN=YOUR_SENTRY_DSN
